
*.lib
*.pro.user
moc_*.*
*.moc
*.obj
Makefile*
*.exe
*.exp
ui_*.h
*.pdb
release/
debug/
*.ilk
*.pro.user.*
*.stash
Output/
cs8Components/cs8ControllerComponent/errorLogBin/build/qmake/qtvars_x64_Debug.props
cs8Components/cs8ProgramComponent/bin/
