
*.lib
*.pro.user
moc_*.*
*.moc
*.obj
Makefile*
*.exe
*.exp
ui_*.h
*.pdb
release/
debug/
*.ilk
*.pro.user.*
*.stash
Output/
cs8Components/cs8ControllerComponent/errorLogBin/build/qmake/qtvars_x64_Debug.props
cs8Components/cs8ProgramComponent/bin/
cs8Components/cs8ControllerComponent/lib/build/
cs8Components/cs8ControllerComponent/lib/buildd/
cs8Components/cs8ControllerComponent/bin/
cs8Components/cs8ProgramComponent/.vs/
*.bak
cs8Components/SRS 2019/
*.orig
cs8Components/cs8ControllerComponent/.vs/
.qtc_clangd/
cs8Components/cs8ProgramComponent/lib/buildd/
cs8Components/cs8ProgramComponent/lib/build/
cs8Components/cs8ProgramComponent/extractDoc/build/
*_qmlcache.qrc
*.vcxproj.user
*.vcxproj
.vs/
*.vcxproj.filters
